@require '../sprite'
@require '../constants'

.ui-selectmenu-menu
  z-index 99999

.ui-selectmenu-button
  background #fff
  &:hover
    outline none
  & .ui-selectmenu-text
    &:focus
      outline none

.ui-icon
.ui-state-default .ui-icon
.ui-state-hover .ui-icon
  background-image url('../../vendor/jquery-ui/themes/base/images/ui-icons_cd0a0a_256x240.png')


.ui-widget-content .ui-state-hover,
.ui-widget-content .ui-state-focus
  background #e0e0e0
  background-image none
  border none

.ui-selectmenu-open
  overflow-y auto
  overflow-x hidden
  height 300px