<div id="discount-item-{{ordinalNum}}" class="discount-item">
    <p class="discount-item__title">Акция №{{math ordinalNum "+" 1}}</p>
    <a onclick="confirm('Данное действие необратимо. Вы уверены?') ? removeDiscountItem(this) : false;" data-toggle="tooltip" title="" class="btn btn-danger del-discount" data-original-title="Удалить акцию"><i class="fa fa-minus-circle"></i></a>
    <div id="discount-entry-{{ordinalNum}}">
        <div class="avko-admin-form-elem">
            <label class="col-sm-2 control-label">Название</label>
            <div class="col-sm-10">
                <input type="text" name="discounts[{{ordinalNum}}][title]" placeholder="Название" value="" class="form-control">
            </div>
        </div>
        <div class="avko-admin-form-elem">
            <label class="col-sm-2 control-label">Автомобиль</label>
            <div class="col-sm-10">
                <input type="text" name="discounts[{{ordinalNum}}][categories]" value="" data-order="{{ordinalNum}}" placeholder="Автомобиль" id="input-category-{{ordinalNum}}>" class="form-control categories-autocomplete" />
                <div id="categories-of-discount-{{ordinalNum}}" class="well well-sm discount-categories-container" style="height: 150px; overflow: auto;">
                </div>
            </div>
        </div>
        <div class="avko-admin-form-elem">
            <label class="col-sm-2 control-label">Текст акции</label>
            <div class="col-sm-10">
                <textarea name="discounts[{{ordinalNum}}][text]" rows="5" class="form-control"></textarea>
            </div>
        </div>
    </div>
</div>