<div id="chooseModelModal" class="modal-window choose-brand-and-model">
    <h4 class="modal-window__title">Выбор модели</h4>
    <div class="modal-window__close avko-button--x"
         data-bind="click: closeModal"></div>
    <div class="modal-window__content choose-brand-and-model__content modal-models-content">
        <label class="avko-input-label">Марка авто</label>
        <br/>
        <select class="modal-models-content__dropdown" data-bind="value: selectedBrand,
                           selectmenu: { width: '80%' },
                           options: brandsList,
                           optionsValue: 'id',
                           optionsText: 'text'">
        </select>
        <br/>
        <label class="avko-input-label">Модель авто</label>
        <div class="modal-models-content__list">
            <ul class="model-list">
                <!-- ko foreach: carModelList -->
                    <li>
                        <label class="model-list__item">
                            <input type="radio" name="radios" data-bind="attr: { value: category_id }, checked: $parent.selectedCarModel" />
                            <span data-bind="text: name"></span>
                        </label>
                    </li>
                <!-- /ko -->
            </ul>
            <!-- ko ifnot: carModelList().length -->
                <span> Для моделей данной марки пока нет товаров</span>
            <!-- /ko -->
        </div>
        <span class="modal-models-content__validation-messages validation-messages" data-bind="text: validationMessage"></span>
    </div>
    <button id="chooseModelModalButton" data-bind="click: goToCategory" class="modal-window__button--right avko-button--red-rectangular">Дальше</button>
</div>