@require 'sprite'
@require 'constants'

.avko-button
  &--light
    border: 2px solid #828282
    line-height 25px
    color #fff
    font-family GothaProLig
    font-size 12px
    border-radius 5px
    padding 5px 30px
    text-transform uppercase
    cursor pointer
    transition all 250ms
    &:focus
      outline 0 !important
    &:hover
      background-color rgba(255, 255, 255, 0.2)
      transition all 250ms
  &--red
    display inline-block
    min-width 200px
    background-color avkoRedColor
    font-family GothaProNarBol
    font-size 14px
    color #ffffff
    text-transform uppercase
    padding 2% 5%
    border-radius 50px
    cursor pointer
    border none
    transition all 250ms
    &:focus
      background-color shade(avkoRedColor, 15%)
      outline 0 !important
    &:hover
      background-color shade(avkoRedColor, 15%)
      text-shadow -1px -1px 0 darken(avkoRedColor, 9.5%)
      transition all 250ms linear
      outline 0 !important
  &--red-rectangular
    display inline-block
    min-width 200px
    background-color avkoRedColor
    font-family GothaProNarBol
    border none
    font-size 14px
    color #ffffff
    text-transform uppercase
    padding 3% 4%
    cursor pointer
    transition all 250ms linear
    &:focus
      outline 0 !important
    &:hover
      background-color shade(avkoRedColor, 15%)
      text-shadow -1px -1px 0 darken(avkoRedColor, 9.5%)
      transition all 250ms linear
  &--transparent-red-bordered
    background transparent
    border-radius 50px
    border 3px solid avkoRedColor
    font-family GothaProNarBol
    cursor pointer
    text-transform uppercase
    padding 2% 5%
    transition all 120ms
    &:focus
      outline 0 !important
    &:hover
      background-color avkoRedColor
      color #fff
      text-shadow -1px -1px 0 darken(avkoRedColor, 9.5%)
      transition all 250ms linear
  &--x
    sprite($sprite_cross)

