avkoRedColor = #bf3024
avkoRedSplitter = #c95147
avkoBlackContentBorder = #595954
avkoGrayColor = rgba(34, 35, 32, 0.67)
avkoDarkColor = #292c2f
avkoGrayBackground = #ebebeb
avkoExplanatoryLabel = #828282


@font-face
  font-family GothaProNarBol
  font-style bold
  src url(../fonts/Gotham%20Cyrillic/GothaProNarBol.otf)

@font-face
  font-family GothaProNarMed
  src url(../fonts/Gotham%20Cyrillic/GothaProNarMed.otf)

@font-face
  font-family GothaProLig
  src url(../fonts/Gotham%20Cyrillic/GothaProLig.otf)

@font-face
  font-family GothaProBol
  src url(../fonts/Gotham%20Cyrillic/GothaProBol.otf)

@font-face
  font-family MuseoSansCyrl300
  src url(../fonts/MuseoSansCyrlOrig/MuseoSansCyrl%20300.otf)

@font-face
  font-family MuseoSansCyrl500
  src url(../fonts/MuseoSansCyrlOrig/MuseoSansCyrl%20500.otf)

@font-face
  font-family MuseoSansCyrl700
  src url(../fonts/MuseoSansCyrlOrig/MuseoSansCyrl%20700.otf)




