@require 'sprite'
@require 'constants'

.avko
  &-footer
    clear both


.footer
  &__section-address
    padding 80px 0
    background-color #292c2f
    overflow hidden
  &__section-copyright
    height 80px
    line-height 80px
    font-family MuseoSansCyrl300

.footer-table
  color #ffffff
  font-family MuseoSansCyrl500
  font-size .9em
  & ul
    margin-top 30px
    list-style none
    padding-left 0
    & li
      margin 10px 0
    & a
      color #ffffff


.phone-icon
  sprite($sprite_phone_icon)
  display inline-block
  margin-right 15px

.mail-icon
  sprite($sprite_mail_icon)
  display inline-block
  margin-right 15px

.working-schedule-icon
  sprite($sprite_working_hours_icon)
  display inline-block
  margin-right 15px

.b-address
  margin 30px 0

@media screen and (max-width: 768px) and (min-width: 640px), screen and (max-width: 640px)
  .footer
    &__section-address
      height initial
      padding 0 0 24px 0 !important
    &__section-copyright
      height 50px !important
      width 100% !important
      line-height 50px !important
  .footer-table
    & tr td:first-child b
      display none
    & tr td:first-child
      text-align center
    & tr td:nth-child(2)
      display none
  .footer__menu
    & li:last-child
      display block

@media screen and (min-width: 768px) and (max-width: 960px), screen and (max-width: 768px)
  .footer
    &__section-address
      padding 40px 0
    &__section-copyright
      height 60px
      line-height 60px
  .footer-table
    & tr td:first-child
      text-align center
    & tr td:last-child
      display none