@require 'sprite'
@require 'constants'

*
  margin 0

html
body
  height auto
  width 100%
  min-width 960px
  box-sizing border-box
  position relative

.avko
  &-page-wrap
    min-height 100%
    margin-bottom -430px
  &-page-wrap:after
    content ""
    display block
  &-page-wrap:after
    height 430px

.avko
  &-center-keeper
    width 960px
    margin 0 auto
  &-input-label
    color avkoGrayColor
    font-family MuseoSansCyrl300

.validation-messages
  font-family MuseoSansCyrl300
  color avkoRedColor

.field-has-error
  border 1px solid red !important

.text--centered
  text-align center

#back-to-top
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 9999;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background: avkoGrayBackground;
  color: avkoRedColor;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  text-decoration: none;
  display none

#back-to-top:hover
  background avkoExplanatoryLabel

@media screen and (max-width: 640px) and (min-width: 320px), screen and (max-width: 320px)
  html
  body
    min-width 320px
  .avko
    &-center-keeper
      width 320px
    &-page-wrap
      margin-bottom -140px !important
    &-page-wrap:after
      height 140px !important

@media screen and (max-width: 768px) and (min-width: 640px)
  html
  body
    min-width 640px
  .avko
    &-center-keeper
      width 640px
    &-page-wrap
      margin-bottom -140px !important
    &-page-wrap:after
      height 140px !important

@media screen and (max-width: 960px) and (min-width: 768px)
  html
  body
    min-width 768px
  .avko
    &-center-keeper
      width 768px