@require 'sprite'
@require 'constants'

.avko
  &-header
    overflow hidden

.avko-header
  &__breadcrumbs
    height 50px
    line-height 50px


.breadcrumbs
  font-family MuseoSansCyrl300
  border-bottom 1px solid #ccc
  &__links
    & ul
      padding-left 0
      list-style none

.links__node
  display inline-block
  & a
    color #000000
    text-decoration none
  & + &::before
    content ">"
    padding 0 10px
  &:last-child
    & a
      color #ccc


.avko-appbar
  height 45px !important
  width 100%
  background-color avkoRedColor
  position fixed
  box-shadow 0px 2px 5px rgba(0,0,0,0.5)
  z-index 9999
  backface-visibility hidden
  -webkit-overflow-scrolling touch
  &__menu
    list-style none
    padding-left 0
  &__menu-button
    sprite($sprite_hamburger_menu)
    float right
    margin-right 20px
    position absolute
    right 0
    top 5px
    display none
    cursor pointer
  &__overlay
    position fixed
    width 100%
    height 100%
    z-index 99999

.appbar-overlay
  &--inactive
    display none

.menu
  & li
    display inline-block
    line-height 45px
    padding 0 10px
    height 45px
    cursor pointer
    &:first-child
      margin-right -4px
    &:hover
      background-color #cf2e22
    &:active
      box-shadow inset 3px 0 7px -2px #2B2A2A, inset -3px 0 7px -2px #2B2A2A
      background-color none
    & a
      color #fff
      text-decoration none
      text-transform uppercase
      font-family GothaProNarBol
      font-size 13px
      display block
      height 100%
      width 100%
  & li + li
    border-left 1px solid avkoRedSplitter


.main-feedback
  background-image url(../pictures/main-picture.png)
  width 100%
  margin-top 45px
  background-size contain
  background-position-x center
  background-repeat no-repeat
  &--small
    background-image url(../pictures/main-picture.png)
    width 100%
    height 95px
    min-width 960px
    background-size cover
    background-position-x center
    background-repeat no-repeat


.short-info
  height 95px
  line-height 95px
  width 100%
  border-bottom 1px solid avkoBlackContentBorder

.avko-logo
  display inline-block
  vertical-align middle
  sprite($sprite_avko_logo)
  &:hover
    filter contrast(4)

.feedback-call
  overflow hidden
  float right
  height 95px
  &__button
    margin 0 15px
    margin-top 35px
    float right

.phone-block
  float left
  &__number
    color #fff
    font-family GothaProNarBol
    font-size 24px
    height 18px
  &__text
    color #828282
    font-family GothaProNarMed
    font-size 13px

@media screen and (max-width: 640px) and (min-width: 320px), (max-width: 320px)
  .consult__keeper
    width 100% !important
  .main-feedback
    height 280px !important
    &--small
      height 0 !important
  .avko-logo
    display none
  .avko-appbar
    position fixed
    top 0 !important
    z-index 150
    &__menu-button
      display block
  .menu
    padding-top 45px
    text-align right
    background-color avkoDarkColor
    display none
    width 100%
    & li
      padding-right 20px
      line-height 35px
      height 35px
      display block
    & li + li
      border-left-width 0
    &--open
      display block
  .short-info
    height 0 !important
    line-height 0 !important
    margin-top 45px !important
    border 0 !important
  .feedback-call
    height 0 !important

@media screen and (max-width: 768px) and (min-width: 640px)
  .consult__keeper
    width 100% !important
  .main-feedback
    height 350px !important
    &--small
      height 0 !important
  .avko-logo
    display none
  .avko-appbar
    position fixed
    top 0 !important
    box-shadow 0px 2px 5px rgba(0,0,0,0.5)
    z-index 150
    &__menu-button
      display block
  .menu
    padding-top 45px
    text-align right
    background-color avkoDarkColor
    display none
    width 100%
    & li
      padding-right 20px
      display block
    & li + li
      border-left-width 0
    &--open
      display block
  .short-info
    height 0
    line-height 0
    margin-top 45px
    border 0
  .feedback-call
    height 0

@media screen and (max-width: 960px) and (min-width: 768px)
  .main-feedback
    height 400px
    &--small
      height 85px
  .short-info
    height 85px
    line-height 85px
  .feedback-call
    height 85px
    &__button
      margin-top 28px

@media screen and (min-width: 960px) and (max-width: 1280px)
  .main-feedback
    height 470px
    &--small
      height 95px

@media screen and (min-width: 1280px) and (max-width: 1600px)
  .main-feedback
    height 580px
    &--small
      height 95px

@media screen and (min-width: 1600px) and (max-width: 1800px)
  .main-feedback
    height 655px
    &--small
      height 95px

@media screen and (min-width: 1800px)
  .main-feedback
    height 655px
    margin-top 45px
    margin-bottom 50px
    &--small
      height 95px

