@require '../avko.common/sprite'
@require '../avko.common/constants'

.choose-brand
  margin-bottom 60px

.brands-grid
  font-family MuseoSansCyrl300
  list-style none
  padding-left 0
  text-align center
  &__cell
    padding 28px
    display inline-block
    cursor pointer
    text-align center

.auto-brand
  position relative
  text-align center
  &__item
    text-align center
    display inline-block
    & img
      vertical-align middle
  &__title
    display none
    position absolute
    margin auto
    right 0
    left 0
  &:hover &__title
    display block



@media screen and (min-width: 768px) and (max-width: 960px)
  .brands-grid
    &__cell
      margin 25px