@require '../avko.common/sprite'
@require '../avko.common/constants'

.our-benefits
  background-image url(../pictures/benefits-background.png)
  background-size cover
  &__content-wrapper
    padding-top 50px
    text-align center
    overflow hidden
  &__title
    font-family GothaProNarBol
    font-size 2.8em
    color #ffffff
    text-transform uppercase
    margin-top 50px
  &__description
    font-family MuseoSansCyrl300
    color #d2c2c2
    margin-top 10px
  &__list
    overflow hidden
    padding-left 0
    margin 80px 0
    color #ffffff
    font-family MuseoSansCyrl300
    list-style none

.our-benefits
  height auto

.benefits-list__item
  display inline-block
  float left
  width 18%
  & + &
    margin-left 10px
  & p
    display inline-block

.benefit-icon
  margin-bottom 12%

.tick-icon
  sprite($sprite_tick)

.search-list-icon
  sprite($sprite_searchlist)

.tested-icon
  sprite($sprite_testedicon)

.timer-icon
  sprite($sprite_timer)

.percents-icon
  sprite($sprite_percents)



@media screen and (min-width: 960px) and (max-width: 1280px)
  .our-benefits
    &__content-wrapper
      padding-top 30px
    &__title
      font-size 2.2em
      margin-top 30px
    &__list
      margin 60px 0

@media screen and (min-width: 768px) and (max-width: 960px)
  .our-benefits
    &__content-wrapper
      padding-top 20px
    &__title
      font-size 2.2em
      margin-top 20px
    &__list
      margin 40px 0

@media screen and (min-width: 640px) and (max-width: 768px), screen and (max-width: 640px)
  .our-benefits
    &__content-wrapper
      padding-top 20px
    &__title
      margin-top 20px
  .benefits-list
    display inline-table !important
    margin 20px 0 !important
    &__item
      display table-row !important
      width 100% !important
      float none !important
      & + &
        margin-left 0
  .benefit-icon
    margin 10px 0 !important
    display table-cell !important
    vertical-align middle !important
    float left !important
  .benefit-sentence
    padding-left 2%
    display table-cell !important
    vertical-align middle !important
    text-align left
    margin 10px 0
  .tick-icon
    sprite($sprite_tick_mobile)
  .search-list-icon
    sprite($sprite_searchlist_mobile)
  .tested-icon
    sprite($sprite_testedicon_mobile)
  .timer-icon
    sprite($sprite_timer_mobile)
  .percents-icon
    sprite($sprite_percents_mobile)