@require '../avko.common/sprite'
@require '../avko.common/constants'

.sales-leaders
  margin-top 80px
  margin-bottom 0
  &__show-more
    text-align center
  &__list
    border-collapse collapse
    border 0
    padding-left 0
    list-style none
    border-spacing 0
    margin-top 50px
    & li
      overflow hidden
      &:nth-child(odd)
        border 0
        & .leader-cell__photo
          float left
        & .preview-info-cell
          float left
      &:nth-child(even)
        & .leader-cell__photo
          float right
        & .preview-info-cell
          float right
  &__additional-products
    display none
    margin-top 0
  &__additional-products-buffer
    display none

.leader-cell
  border 0
  padding 0
  &__inner-cell
    display inline-block
    float left
    width 50%
    height 480px
    & img
      width 480px
      height auto

.preview-info-cell
  text-align center
  &__title
    margin-top 80px
    font-family MuseoSansCyrl700
    font-size 1.5em
  &__designed-for-mark
    margin-top 20px
    display inline-block
    font-family MuseoSansCyrl500
    font-size 0.9em
  &__price
    margin-top 50px
    margin-bottom 30px
    font-family GothaProBol
    text-transform uppercase
    font-size 2.0em
  &__details
    margin-top 40px
    display block
    text-decoration none
    font-family MuseoSansCyrl300
    color avkoGrayColor
    &:hover
      text-decoration underline

.leave-bid
  padding 4% 5% !important

.show-more
  margin-top 80px
  &__icon
    sprite($sprite_more_icon)
    display inline-block
    cursor pointer
  span
    text-transform uppercase
    font-family MuseoSansCyrl500
    font-size .9em
    cursor pointer
    &:hover
      text-decoration underline

@media screen and (min-width: 768px) and (max-width: 960px)
  .leader-cell
    &__inner-cell
      height 384px
    & img
      width 384px
      height auto
  .preview-info-cell
    &__title
      margin-top 40px

@media screen and (min-width: 640px) and (max-width: 768px), screen and (max-width: 640px)
  .sales-leaders
    display none
  .leader-cell
    &__inner-cell
      height 320px
    & img
      width 320px
      height auto
  .preview-info-cell
    &__title
      margin-top 20px