<form class="modal-window callback" data-bind="submit: callbackClaim">
    <h4 class="modal-window__title">Обратный звонок</h4>
    <div class="modal-window__close avko-button--x"
         data-bind="click: closeModal"></div>
    <p class="modal-window__description">Оставьте Ваш номер и мы перезвоним в ближайшее время</p>
    <div class="modal-window__content">
        <input type="text"
               placeholder="Ваше имя"
               class="callback__name textbox--gray-bordered"
               data-bind="value: name, valueUpdate: 'keyup paste input'">
        <input type="tel"
               class="phone-number callback__phone textbox--gray-bordered"
               placeholder="+7"
               data-inputmask="'mask': '+7(999) 999-99-99'"
               data-bind="value: phoneNumber, valueUpdate: 'keyup paste input'">
        <p data-bind="text: validateError" class="validation-messages"></p>
    </div>
    <button type="submit" class="modal-window__button--centered avko-button--red-rectangular">Отправить</button>
</form>