@font-face {
  font-family: GothaProNarBol;
  font-style: bold;
  src: url("../fonts/Gotham%20Cyrillic/GothaProNarBol.otf");
}
@font-face {
  font-family: GothaProNarMed;
  src: url("../fonts/Gotham%20Cyrillic/GothaProNarMed.otf");
}
@font-face {
  font-family: GothaProLig;
  src: url("../fonts/Gotham%20Cyrillic/GothaProLig.otf");
}
@font-face {
  font-family: GothaProBol;
  src: url("../fonts/Gotham%20Cyrillic/GothaProBol.otf");
}
@font-face {
  font-family: MuseoSansCyrl300;
  src: url("../fonts/MuseoSansCyrlOrig/MuseoSansCyrl%20300.otf");
}
@font-face {
  font-family: MuseoSansCyrl500;
  src: url("../fonts/MuseoSansCyrlOrig/MuseoSansCyrl%20500.otf");
}
@font-face {
  font-family: MuseoSansCyrl700;
  src: url("../fonts/MuseoSansCyrlOrig/MuseoSansCyrl%20700.otf");
}
.items-list {
  margin: 80px 0;
}
.choose-model__title {
  font-family: GothaProBol;
  font-size: 3em;
  text-transform: uppercase;
}
.choose-model__button {
  margin-top: 20px;
  display: inline-block;
  cursor: pointer;
}
.choose-model__button span {
  font-family: MuseoSansCyrl500;
  border-bottom: 1px dotted;
}
.show-more-models {
  background-image: url("../img/sprite.png");
  background-position: -226px -52px;
  width: 16px;
  height: 16px;
  display: inline-block;
  float: left;
  margin-right: 5px;
}
.car-brands-list {
  font-family: MuseoSansCyrl500;
  list-style: none;
  padding-left: 0;
}
.car-brands-list li {
  display: inline-block;
  margin: 5px 10px 5px 0;
  padding: 5px 10px;
  border-radius: 50px;
  background-color: #bf3024;
  color: #fff;
  opacity: 0.8;
  cursor: pointer;
  -webkit-transition: all 250ms linear;
          transition: all 250ms linear;
}
.car-brands-list li:focus {
  outline: 0 !important;
}
.car-brands-list li:hover {
  background-color: #98261c;
  text-shadow: -1px -1px 0 #ad2b21;
  -webkit-transition: all 250ms linear;
          transition: all 250ms linear;
}
.car-brands-list li a {
  line-height: 19px;
}
.car-brands-list--hidden {
  display: none;
}
.banner {
  background: url("../pictures/banner-background.png");
  background-repeat: no-repeat;
  width: 964px;
  height: 159px;
  margin: 20px auto;
  text-align: center;
}
.banner__title {
  font-family: GothaProBol;
  font-size: 2em;
  color: #fff;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 10px;
}
.banner__text {
  color: #fff;
  font-family: MuseoSansCyrl300;
}
.first-column {
  width: 65%;
}
.item {
  clear: both;
}
.item__header {
  border-bottom: 1px solid #ccc;
}
.item__title {
  display: inline-block;
  font-family: MuseoSansCyrl700;
  font-size: 2em;
  line-height: 1.5em;
  padding-right: 20px;
}
.item__article {
  display: inline-block;
  font-family: MuseoSansCyrl300;
  color: rgba(34,35,32,0.67);
  line-height: 30px;
  font-size: 0.8em;
}
.item__features {
  list-style: none;
  padding-left: 0;
  display: inline-block;
}
.item__features li {
  display: inline-block;
  margin-right: 40px;
  line-height: 70px;
  height: 70px;
}
.item__features li p {
  display: inline-block;
  float: left;
  font-family: MuseoSansCyrl500;
  margin-left: 15px;
}
.item__common-info {
  clear: both;
}
.item__toggle-more-details {
  display: inline-block;
  cursor: pointer;
}
.item__toggle-more-details i {
  display: inline-block;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 20px;
  margin-right: 3px;
  color: #bf3024;
  position: absolute;
}
.item__toggle-more-details span {
  display: inline-block;
  font-family: MuseoSansCyrl500;
  border-bottom: 1px dotted;
  line-height: 20px;
  margin-left: 18px;
}
.item__toggle-more-details:not(.item__toggle-more-details--hide) .show-details {
  display: block;
  position: relative;
}
.item__toggle-more-details:not(.item__toggle-more-details--hide) .hide-details {
  display: none;
}
.item__toggle-more-details--hide .show-details {
  display: none;
}
.item__toggle-more-details--hide .hide-details {
  display: block;
  position: relative;
}
.item__toggle-more-details--hide .hide-details i {
  top: -2px;
}
.icon-red-timer {
  background-image: url("../img/sprite.png");
  background-position: 0px -205px;
  width: 29px;
  height: 33px;
  display: inline-block;
  margin-top: 15px;
  float: left;
}
.icon-guarantee {
  background-image: url("../img/sprite.png");
  background-position: -105px -170px;
  width: 31px;
  height: 35px;
  display: inline-block;
  margin-top: 15px;
  float: left;
}
.icon-tick-in-circle {
  background-image: url("../img/sprite.png");
  background-position: -96px -113px;
  width: 29px;
  height: 29px;
  display: inline-block;
  margin-top: 20px;
  float: left;
}
.buy-bar {
  background-color: #ebebeb;
  width: 95%;
  min-width: 205px;
  height: calc(100% - 10px);
  position: absolute;
  right: 0;
  top: 0;
}
.buy-bar__price {
  font-family: GothaProBol;
  font-size: 2.2em;
  text-transform: uppercase;
  margin-top: 50px;
}
.buy-bar__old-price {
  font-family: GothaProBol;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-top: 20px;
}
.buy-bar__discount-price {
  font-family: GothaProBol;
  font-size: 2.2em;
  text-transform: uppercase;
  margin-top: 5px;
}
.buy-bar__sales {
  font-family: MuseoSansCyrl300;
  margin: 20px 0;
  display: inline-block;
}
.buy-bar__sales label {
  color: rgba(34,35,32,0.67);
}
.buy-bar__button {
  width: 150px;
  margin: 0 auto;
}
.buy-bar__button + .buy-bar__button {
  margin-top: 20px;
}
.buy-bar__delivery-section {
  margin-top: 30px;
  width: 100%;
  border-top: 1px solid #ccc;
}
.old-price {
  position: relative;
  display: inline-block;
}
.old-price__throwline {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  height: 2px;
  margin: auto;
  background-color: #bf3024;
}
.delivery-section {
  overflow: hidden;
}
.delivery-section__icon {
  display: inline-block;
  background-image: url("../img/sprite.png");
  background-position: -128px -142px;
  width: 37px;
  height: 22px;
  margin-top: 20px;
}
.delivery-section__info {
  font-family: MuseoSansCyrl300;
  margin-top: 10px;
  color: rgba(34,35,32,0.67);
}
.delivery-section__info a {
  text-decoration: underline;
  color: rgba(34,35,32,0.67);
  cursor: pointer;
}
.photos-slider {
  width: 100%;
}
.photos-slider__paths-buffer {
  display: none;
}
.selected-photo {
  width: 100%;
  margin-bottom: 2%;
  height: 405px;
  position: relative;
}
.selected-photo img {
  width: 100%;
}
.selected-photo__item {
  padding: 0 5px;
}
.discount-marker {
  position: absolute;
  top: 20px;
  left: 25px;
  text-transform: uppercase;
  display: inline-block;
  padding: 5px 15px;
  color: #fff;
  font-family: MuseoSansCyrl500;
  font-size: 1em;
  background-color: #bf3024;
  box-shadow: 2px 2px 5px #555;
}
.photos-preview {
  display: inline-block;
  position: relative;
  width: 100%;
}
.photos-preview__item {
  display: inline-block;
  overflow: hidden;
}
.photos-preview__item:not(.slick-current) {
  opacity: 0.5;
}
.photos-preview__item img {
  width: 100%;
}
.slick-slider {
  margin-bottom: 10px;
}
.slick-slide {
  margin: 0 5px;
}
.catalog-item {
  margin: 40px auto !important;
}
.items-list__separartor {
  border-bottom: 1px solid #ccc;
  width: 100%;
}
.item-text-content {
  margin-top: 20px;
  font-family: MuseoSansCyrl300;
}
.item-text-content__description {
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}
.item-text-content__product-props {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
.item-text-content--hidden {
  display: none;
}
.product-props__title {
  font-family: MuseoSansCyrl700;
  margin-bottom: 10px;
  font-size: 1.2em;
}
.product-props-table__parameter {
  color: rgba(34,35,32,0.67);
  padding-right: 25px;
}
.product-props-table__parameter::after {
  content: ":";
}
.product-box {
  padding-bottom: 20px;
}
.product-box__title {
  font-family: MuseoSansCyrl700;
  margin-bottom: 10px;
  font-size: 1.2em;
}
.slick-next:not([aria-disabled="true"]) {
  right: -15px;
  width: 6px;
  height: 15px;
}
.slick-next:not([aria-disabled="true"]) i {
  display: block;
  background-image: url("../img/sprite.png");
  background-position: -243px -35px;
  width: 6px;
  height: 15px;
}
.slick-next:not([aria-disabled="true"])::after,
.slick-next:not([aria-disabled="true"])::before {
  display: none;
}
.slick-next:not([aria-disabled="true"]):hover {
  background: inherit;
}
.slick-prev:not([aria-disabled="true"]) {
  left: -15px;
  width: 6px;
  height: 15px;
}
.slick-prev:not([aria-disabled="true"]) i {
  display: block;
  background-image: url("../img/sprite.png");
  background-position: -243px -35px;
  width: 6px;
  height: 15px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.slick-prev:not([aria-disabled="true"])::after,
.slick-prev:not([aria-disabled="true"])::before {
  display: none;
}
.slick-prev:not([aria-disabled="true"]):hover {
  background: inherit;
}
.slick-next[aria-disabled="true"] {
  right: -15px;
  width: 6px;
  height: 15px;
}
.slick-next[aria-disabled="true"] i {
  display: block;
  background-image: url("../img/sprite.png");
  background-position: -242px -52px;
  width: 6px;
  height: 15px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.slick-next[aria-disabled="true"]::after,
.slick-next[aria-disabled="true"]::before {
  display: none;
}
.slick-next[aria-disabled="true"]:hover {
  background: inherit;
}
.slick-prev[aria-disabled="true"] {
  left: -15px;
  width: 6px;
  height: 15px;
}
.slick-prev[aria-disabled="true"] i {
  display: block;
  background-image: url("../img/sprite.png");
  background-position: -242px -52px;
  width: 6px;
  height: 15px;
}
.slick-prev[aria-disabled="true"]::after,
.slick-prev[aria-disabled="true"]::before {
  display: none;
}
.slick-prev[aria-disabled="true"]:hover {
  background: inherit;
}
@media screen and (min-width: 960px) {
  .billboard {
    display: table-row;
    width: 100%;
  }
  .billboard__photos {
    display: table-cell;
    max-height: 584px;
    width: 63%;
  }
  .billboard__buy-bar {
    display: table-cell;
    width: 33%;
    min-width: 205px;
    position: relative;
  }
  .billboard .photos-slider {
    max-width: 615px;
  }
}
@media screen and (max-width: 960px) {
  .billboard {
    display: inline-block;
    width: 100%;
  }
  .billboard__photos {
    display: block;
    width: 100%;
  }
  .billboard__buy-bar {
    display: block;
    width: 100%;
    min-width: 205px;
    height: 525px;
    position: relative;
  }
  .buy-bar {
    top: -9px;
    left: 0;
    width: initial;
  }
  .first-column {
    width: 100%;
  }
}
@media screen and (max-width: 640px) and (min-width: 320px), screen and (max-width: 320px) {
  .selected-photo {
    height: 216px;
  }
}
@media screen and (max-width: 960px) and (min-width: 768px) {
  .selected-photo {
    height: 509px;
  }
}

@font-face {
  font-family: GothaProNarBol;
  font-style: bold;
  src: url("../fonts/Gotham%20Cyrillic/GothaProNarBol.otf");
}
@font-face {
  font-family: GothaProNarMed;
  src: url("../fonts/Gotham%20Cyrillic/GothaProNarMed.otf");
}
@font-face {
  font-family: GothaProLig;
  src: url("../fonts/Gotham%20Cyrillic/GothaProLig.otf");
}
@font-face {
  font-family: GothaProBol;
  src: url("../fonts/Gotham%20Cyrillic/GothaProBol.otf");
}
@font-face {
  font-family: MuseoSansCyrl300;
  src: url("../fonts/MuseoSansCyrlOrig/MuseoSansCyrl%20300.otf");
}
@font-face {
  font-family: MuseoSansCyrl500;
  src: url("../fonts/MuseoSansCyrlOrig/MuseoSansCyrl%20500.otf");
}
@font-face {
  font-family: MuseoSansCyrl700;
  src: url("../fonts/MuseoSansCyrlOrig/MuseoSansCyrl%20700.otf");
}
.avko-button--light {
  border: 2px solid #828282;
  line-height: 25px;
  color: #fff;
  font-family: GothaProLig;
  font-size: 12px;
  border-radius: 5px;
  padding: 5px 30px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 250ms;
          transition: all 250ms;
}
.avko-button--light:focus {
  outline: 0 !important;
}
.avko-button--light:hover {
  background-color: rgba(255,255,255,0.2);
  -webkit-transition: all 250ms;
          transition: all 250ms;
}
.avko-button--red {
  display: inline-block;
  min-width: 200px;
  background-color: #bf3024;
  font-family: GothaProNarBol;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  padding: 2% 5%;
  border-radius: 50px;
  cursor: pointer;
  border: none;
  -webkit-transition: all 250ms;
          transition: all 250ms;
}
.avko-button--red:focus {
  background-color: #a2281e;
  outline: 0 !important;
}
.avko-button--red:hover {
  background-color: #a2281e;
  text-shadow: -1px -1px 0 #ad2b21;
  -webkit-transition: all 250ms linear;
          transition: all 250ms linear;
  outline: 0 !important;
}
.avko-button--red-rectangular {
  display: inline-block;
  min-width: 200px;
  background-color: #bf3024;
  font-family: GothaProNarBol;
  border: none;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  padding: 3% 4%;
  cursor: pointer;
  -webkit-transition: all 250ms linear;
          transition: all 250ms linear;
}
.avko-button--red-rectangular:focus {
  outline: 0 !important;
}
.avko-button--red-rectangular:hover {
  background-color: #a2281e;
  text-shadow: -1px -1px 0 #ad2b21;
  -webkit-transition: all 250ms linear;
          transition: all 250ms linear;
}
.avko-button--transparent-red-bordered {
  background: transparent;
  border-radius: 50px;
  border: 3px solid #bf3024;
  font-family: GothaProNarBol;
  cursor: pointer;
  text-transform: uppercase;
  padding: 2% 5%;
  -webkit-transition: all 120ms;
          transition: all 120ms;
}
.avko-button--transparent-red-bordered:focus {
  outline: 0 !important;
}
.avko-button--transparent-red-bordered:hover {
  background-color: #bf3024;
  color: #fff;
  text-shadow: -1px -1px 0 #ad2b21;
  -webkit-transition: all 250ms linear;
          transition: all 250ms linear;
}
.avko-button--x {
  background-image: url("../img/sprite.png");
  background-position: -226px -35px;
  width: 17px;
  height: 17px;
}

@font-face {
  font-family: GothaProNarBol;
  font-style: bold;
  src: url("../fonts/Gotham%20Cyrillic/GothaProNarBol.otf");
}
@font-face {
  font-family: GothaProNarMed;
  src: url("../fonts/Gotham%20Cyrillic/GothaProNarMed.otf");
}
@font-face {
  font-family: GothaProLig;
  src: url("../fonts/Gotham%20Cyrillic/GothaProLig.otf");
}
@font-face {
  font-family: GothaProBol;
  src: url("../fonts/Gotham%20Cyrillic/GothaProBol.otf");
}
@font-face {
  font-family: MuseoSansCyrl300;
  src: url("../fonts/MuseoSansCyrlOrig/MuseoSansCyrl%20300.otf");
}
@font-face {
  font-family: MuseoSansCyrl500;
  src: url("../fonts/MuseoSansCyrlOrig/MuseoSansCyrl%20500.otf");
}
@font-face {
  font-family: MuseoSansCyrl700;
  src: url("../fonts/MuseoSansCyrlOrig/MuseoSansCyrl%20700.otf");
}


@font-face {
  font-family: GothaProNarBol;
  font-style: bold;
  src: url("../fonts/Gotham%20Cyrillic/GothaProNarBol.otf");
}
@font-face {
  font-family: GothaProNarMed;
  src: url("../fonts/Gotham%20Cyrillic/GothaProNarMed.otf");
}
@font-face {
  font-family: GothaProLig;
  src: url("../fonts/Gotham%20Cyrillic/GothaProLig.otf");
}
@font-face {
  font-family: GothaProBol;
  src: url("../fonts/Gotham%20Cyrillic/GothaProBol.otf");
}
@font-face {
  font-family: MuseoSansCyrl300;
  src: url("../fonts/MuseoSansCyrlOrig/MuseoSansCyrl%20300.otf");
}
@font-face {
  font-family: MuseoSansCyrl500;
  src: url("../fonts/MuseoSansCyrlOrig/MuseoSansCyrl%20500.otf");
}
@font-face {
  font-family: MuseoSansCyrl700;
  src: url("../fonts/MuseoSansCyrlOrig/MuseoSansCyrl%20700.otf");
}
.avko-footer {
  clear: both;
}
.footer__section-address {
  padding: 80px 0;
  background-color: #292c2f;
  overflow: hidden;
}
.footer__section-copyright {
  height: 80px;
  line-height: 80px;
  font-family: MuseoSansCyrl300;
}
.footer-table {
  color: #fff;
  font-family: MuseoSansCyrl500;
  font-size: 0.9em;
}
.footer-table ul {
  margin-top: 30px;
  list-style: none;
  padding-left: 0;
}
.footer-table ul li {
  margin: 10px 0;
}
.footer-table ul a {
  color: #fff;
}
.phone-icon {
  background-image: url("../img/sprite.png");
  background-position: -241px -68px;
  width: 13px;
  height: 13px;
  display: inline-block;
  margin-right: 15px;
}
.mail-icon {
  background-image: url("../img/sprite.png");
  background-position: -226px -98px;
  width: 13px;
  height: 8px;
  display: inline-block;
  margin-right: 15px;
}
.working-schedule-icon {
  background-image: url("../img/sprite.png");
  background-position: -226px -68px;
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 15px;
}
.b-address {
  margin: 30px 0;
}
@media screen and (max-width: 768px) and (min-width: 640px), screen and (max-width: 640px) {
  .footer__section-address {
    height: initial;
    padding: 0 0 24px 0 !important;
  }
  .footer__section-copyright {
    height: 50px !important;
    width: 100% !important;
    line-height: 50px !important;
  }
  .footer-table tr td:first-child b {
    display: none;
  }
  .footer-table tr td:first-child {
    text-align: center;
  }
  .footer-table tr td:nth-child(2) {
    display: none;
  }
  .footer__menu li:last-child {
    display: block;
  }
}
@media screen and (min-width: 768px) and (max-width: 960px), screen and (max-width: 768px) {
  .footer__section-address {
    padding: 40px 0;
  }
  .footer__section-copyright {
    height: 60px;
    line-height: 60px;
  }
  .footer-table tr td:first-child {
    text-align: center;
  }
  .footer-table tr td:last-child {
    display: none;
  }
}

@font-face {
  font-family: GothaProNarBol;
  font-style: bold;
  src: url("../fonts/Gotham%20Cyrillic/GothaProNarBol.otf");
}
@font-face {
  font-family: GothaProNarMed;
  src: url("../fonts/Gotham%20Cyrillic/GothaProNarMed.otf");
}
@font-face {
  font-family: GothaProLig;
  src: url("../fonts/Gotham%20Cyrillic/GothaProLig.otf");
}
@font-face {
  font-family: GothaProBol;
  src: url("../fonts/Gotham%20Cyrillic/GothaProBol.otf");
}
@font-face {
  font-family: MuseoSansCyrl300;
  src: url("../fonts/MuseoSansCyrlOrig/MuseoSansCyrl%20300.otf");
}
@font-face {
  font-family: MuseoSansCyrl500;
  src: url("../fonts/MuseoSansCyrlOrig/MuseoSansCyrl%20500.otf");
}
@font-face {
  font-family: MuseoSansCyrl700;
  src: url("../fonts/MuseoSansCyrlOrig/MuseoSansCyrl%20700.otf");
}
* {
  margin: 0;
}
html,
body {
  height: auto;
  width: 100%;
  min-width: 960px;
  box-sizing: border-box;
  position: relative;
}
.avko-page-wrap {
  min-height: 100%;
  margin-bottom: -430px;
}
.avko-page-wrap:after {
  content: "";
  display: block;
}
.avko-page-wrap:after {
  height: 430px;
}
.avko-center-keeper {
  width: 960px;
  margin: 0 auto;
}
.avko-input-label {
  color: rgba(34,35,32,0.67);
  font-family: MuseoSansCyrl300;
}
.validation-messages {
  font-family: MuseoSansCyrl300;
  color: #bf3024;
}
.field-has-error {
  border: 1px solid #f00 !important;
}
.text--centered {
  text-align: center;
}
#back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 9999;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background: #ebebeb;
  color: #bf3024;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  text-decoration: none;
  display: none;
}
#back-to-top:hover {
  background: #828282;
}
@media screen and (max-width: 640px) and (min-width: 320px), screen and (max-width: 320px) {
  html,
  body {
    min-width: 320px;
  }
  .avko-center-keeper {
    width: 320px;
  }
  .avko-page-wrap {
    margin-bottom: -140px !important;
  }
  .avko-page-wrap:after {
    height: 140px !important;
  }
}
@media screen and (max-width: 768px) and (min-width: 640px) {
  html,
  body {
    min-width: 640px;
  }
  .avko-center-keeper {
    width: 640px;
  }
  .avko-page-wrap {
    margin-bottom: -140px !important;
  }
  .avko-page-wrap:after {
    height: 140px !important;
  }
}
@media screen and (max-width: 960px) and (min-width: 768px) {
  html,
  body {
    min-width: 768px;
  }
  .avko-center-keeper {
    width: 768px;
  }
}

@font-face {
  font-family: GothaProNarBol;
  font-style: bold;
  src: url("../fonts/Gotham%20Cyrillic/GothaProNarBol.otf");
}
@font-face {
  font-family: GothaProNarMed;
  src: url("../fonts/Gotham%20Cyrillic/GothaProNarMed.otf");
}
@font-face {
  font-family: GothaProLig;
  src: url("../fonts/Gotham%20Cyrillic/GothaProLig.otf");
}
@font-face {
  font-family: GothaProBol;
  src: url("../fonts/Gotham%20Cyrillic/GothaProBol.otf");
}
@font-face {
  font-family: MuseoSansCyrl300;
  src: url("../fonts/MuseoSansCyrlOrig/MuseoSansCyrl%20300.otf");
}
@font-face {
  font-family: MuseoSansCyrl500;
  src: url("../fonts/MuseoSansCyrlOrig/MuseoSansCyrl%20500.otf");
}
@font-face {
  font-family: MuseoSansCyrl700;
  src: url("../fonts/MuseoSansCyrlOrig/MuseoSansCyrl%20700.otf");
}
.avko-header {
  overflow: hidden;
}
.avko-header__breadcrumbs {
  height: 50px;
  line-height: 50px;
}
.breadcrumbs {
  font-family: MuseoSansCyrl300;
  border-bottom: 1px solid #ccc;
}
.breadcrumbs__links ul {
  padding-left: 0;
  list-style: none;
}
.links__node {
  display: inline-block;
}
.links__node a {
  color: #000;
  text-decoration: none;
}
.links__node + .links__node::before {
  content: ">";
  padding: 0 10px;
}
.links__node:last-child a {
  color: #ccc;
}
.avko-appbar {
  height: 45px !important;
  width: 100%;
  background-color: #bf3024;
  position: fixed;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
  z-index: 9999;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-overflow-scrolling: touch;
}
.avko-appbar__menu {
  list-style: none;
  padding-left: 0;
}
.avko-appbar__menu-button {
  background-image: url("../img/sprite.png");
  background-position: -136px -170px;
  width: 32px;
  height: 32px;
  float: right;
  margin-right: 20px;
  position: absolute;
  right: 0;
  top: 5px;
  display: none;
  cursor: pointer;
}
.avko-appbar__overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99999;
}
.appbar-overlay--inactive {
  display: none;
}
.menu li {
  display: inline-block;
  line-height: 45px;
  padding: 0 10px;
  height: 45px;
  cursor: pointer;
}
.menu li:first-child {
  margin-right: -4px;
}
.menu li:hover {
  background-color: #cf2e22;
}
.menu li:active {
  box-shadow: inset 3px 0 7px -2px #2b2a2a, inset -3px 0 7px -2px #2b2a2a;
  background-color: none;
}
.menu li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: GothaProNarBol;
  font-size: 13px;
  display: block;
  height: 100%;
  width: 100%;
}
.menu li + li {
  border-left: 1px solid #c95147;
}
.main-feedback {
  background-image: url("../pictures/main-picture.png");
  width: 100%;
  margin-top: 45px;
  background-size: contain;
  background-position-x: center;
  background-repeat: no-repeat;
}
.main-feedback--small {
  background-image: url("../pictures/main-picture.png");
  width: 100%;
  height: 95px;
  min-width: 960px;
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
}
.short-info {
  height: 95px;
  line-height: 95px;
  width: 100%;
  border-bottom: 1px solid #595954;
}
.avko-logo {
  display: inline-block;
  vertical-align: middle;
  background-image: url("../img/sprite.png");
  background-position: 0px -142px;
  width: 128px;
  height: 28px;
}
.avko-logo:hover {
  -webkit-filter: contrast(4);
          filter: contrast(4);
}
.feedback-call {
  overflow: hidden;
  float: right;
  height: 95px;
}
.feedback-call__button {
  margin: 0 15px;
  margin-top: 35px;
  float: right;
}
.phone-block {
  float: left;
}
.phone-block__number {
  color: #fff;
  font-family: GothaProNarBol;
  font-size: 24px;
  height: 18px;
}
.phone-block__text {
  color: #828282;
  font-family: GothaProNarMed;
  font-size: 13px;
}
@media screen and (max-width: 640px) and (min-width: 320px), (max-width: 320px) {
  .consult__keeper {
    width: 100% !important;
  }
  .main-feedback {
    height: 280px !important;
  }
  .main-feedback--small {
    height: 0 !important;
  }
  .avko-logo {
    display: none;
  }
  .avko-appbar {
    position: fixed;
    top: 0 !important;
    z-index: 150;
  }
  .avko-appbar__menu-button {
    display: block;
  }
  .menu {
    padding-top: 45px;
    text-align: right;
    background-color: #292c2f;
    display: none;
    width: 100%;
  }
  .menu li {
    padding-right: 20px;
    line-height: 35px;
    height: 35px;
    display: block;
  }
  .menu li + li {
    border-left-width: 0;
  }
  .menu--open {
    display: block;
  }
  .short-info {
    height: 0 !important;
    line-height: 0 !important;
    margin-top: 45px !important;
    border: 0 !important;
  }
  .feedback-call {
    height: 0 !important;
  }
}
@media screen and (max-width: 768px) and (min-width: 640px) {
  .consult__keeper {
    width: 100% !important;
  }
  .main-feedback {
    height: 350px !important;
  }
  .main-feedback--small {
    height: 0 !important;
  }
  .avko-logo {
    display: none;
  }
  .avko-appbar {
    position: fixed;
    top: 0 !important;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
    z-index: 150;
  }
  .avko-appbar__menu-button {
    display: block;
  }
  .menu {
    padding-top: 45px;
    text-align: right;
    background-color: #292c2f;
    display: none;
    width: 100%;
  }
  .menu li {
    padding-right: 20px;
    display: block;
  }
  .menu li + li {
    border-left-width: 0;
  }
  .menu--open {
    display: block;
  }
  .short-info {
    height: 0;
    line-height: 0;
    margin-top: 45px;
    border: 0;
  }
  .feedback-call {
    height: 0;
  }
}
@media screen and (max-width: 960px) and (min-width: 768px) {
  .main-feedback {
    height: 400px;
  }
  .main-feedback--small {
    height: 85px;
  }
  .short-info {
    height: 85px;
    line-height: 85px;
  }
  .feedback-call {
    height: 85px;
  }
  .feedback-call__button {
    margin-top: 28px;
  }
}
@media screen and (min-width: 960px) and (max-width: 1280px) {
  .main-feedback {
    height: 470px;
  }
  .main-feedback--small {
    height: 95px;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1600px) {
  .main-feedback {
    height: 580px;
  }
  .main-feedback--small {
    height: 95px;
  }
}
@media screen and (min-width: 1600px) and (max-width: 1800px) {
  .main-feedback {
    height: 655px;
  }
  .main-feedback--small {
    height: 95px;
  }
}
@media screen and (min-width: 1800px) {
  .main-feedback {
    height: 655px;
    margin-top: 45px;
    margin-bottom: 50px;
  }
  .main-feedback--small {
    height: 95px;
  }
}

@font-face {
  font-family: GothaProNarBol;
  font-style: bold;
  src: url("../fonts/Gotham%20Cyrillic/GothaProNarBol.otf");
}
@font-face {
  font-family: GothaProNarMed;
  src: url("../fonts/Gotham%20Cyrillic/GothaProNarMed.otf");
}
@font-face {
  font-family: GothaProLig;
  src: url("../fonts/Gotham%20Cyrillic/GothaProLig.otf");
}
@font-face {
  font-family: GothaProBol;
  src: url("../fonts/Gotham%20Cyrillic/GothaProBol.otf");
}
@font-face {
  font-family: MuseoSansCyrl300;
  src: url("../fonts/MuseoSansCyrlOrig/MuseoSansCyrl%20300.otf");
}
@font-face {
  font-family: MuseoSansCyrl500;
  src: url("../fonts/MuseoSansCyrlOrig/MuseoSansCyrl%20500.otf");
}
@font-face {
  font-family: MuseoSansCyrl700;
  src: url("../fonts/MuseoSansCyrlOrig/MuseoSansCyrl%20700.otf");
}
.section--red-bordered {
  border-top: 5px solid #bf3024;
  position: relative;
}
.section--red-bordered__header {
  background-color: #fff;
}
.section--red-bordered__title {
  font-family: GothaProBol;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.8em;
  margin-top: -30px;
}
.section--red-bordered__description {
  text-align: center;
  font-family: MuseoSansCyrl300;
  color: #828282;
  margin-top: 10px;
}
.section--gray {
  background-color: #ebebeb;
}
.section--red-overlay {
  width: 100%;
  height: 100%;
  background-color: #bf3024;
  opacity: 0.95;
}
.section--red-overlay__title {
  font-size: 2.8em;
}
.section--hidden-container {
  display: none;
}
@media screen and (min-width: 960px) and (max-width: 1280px) {
  .section--red-bordered__title {
    font-size: 2.6em;
  }
  .section--red-overlay__title {
    font-size: 2.6em;
  }
}
@media screen and (min-width: 768px) and (max-width: 960px) {
  .section--red-bordered__title {
    font-size: 2.1em;
    margin-top: -20px;
  }
  .section--red-overlay__title {
    font-size: 2.1em;
  }
}
@media screen and (min-width: 640px) and (max-width: 768px) {
  .section--red-bordered__title {
    font-size: 1.5em !important;
    margin-top: -15px;
  }
  .section--red-overlay__title {
    font-size: 1.5em !important;
    margin-top: 0;
  }
}
@media screen and (min-width: 320px) and (max-width: 640px), screen and (max-width: 320px) {
  .section--red-bordered__title {
    font-size: 1.5em !important;
    margin-top: -15px;
  }
  .section--red-overlay__title {
    font-size: 1.5em !important;
    margin-top: 0;
  }
}

/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/

.textbox--gray-bordered {
  border: 1px solid #ccc;
  line-height: 30px;
  font-size: 24px;
  text-indent: 5px;
  outline: 0;
}

@font-face {
  font-family: GothaProNarBol;
  font-style: bold;
  src: url("../fonts/Gotham%20Cyrillic/GothaProNarBol.otf");
}
@font-face {
  font-family: GothaProNarMed;
  src: url("../fonts/Gotham%20Cyrillic/GothaProNarMed.otf");
}
@font-face {
  font-family: GothaProLig;
  src: url("../fonts/Gotham%20Cyrillic/GothaProLig.otf");
}
@font-face {
  font-family: GothaProBol;
  src: url("../fonts/Gotham%20Cyrillic/GothaProBol.otf");
}
@font-face {
  font-family: MuseoSansCyrl300;
  src: url("../fonts/MuseoSansCyrlOrig/MuseoSansCyrl%20300.otf");
}
@font-face {
  font-family: MuseoSansCyrl500;
  src: url("../fonts/MuseoSansCyrlOrig/MuseoSansCyrl%20500.otf");
}
@font-face {
  font-family: MuseoSansCyrl700;
  src: url("../fonts/MuseoSansCyrlOrig/MuseoSansCyrl%20700.otf");
}
.avko-page--contact__title {
  font-family: GothaProBol;
  font-size: 3em;
  text-transform: uppercase;
  margin: 30px auto;
}
.store-info {
  font-family: MuseoSansCyrl300;
}
.store-info__address {
  float: left;
  padding-left: 0;
  list-style: none;
}
.store-info__additional {
  color: #888;
  float: right;
  font-size: 0.9em;
}
.store-address li {
  line-height: 30px;
}
.phone-icon--red {
  display: inline-block;
  margin-right: 10px;
  background-image: url("../img/sprite.png");
  background-position: -241px -83px;
  width: 13px;
  height: 13px;
}
.mail-icon--red {
  display: inline-block;
  margin-right: 10px;
  background-image: url("../img/sprite.png");
  background-position: -239px -98px;
  width: 13px;
  height: 8px;
}
.working-schedule-icon--red {
  display: inline-block;
  margin-right: 8px;
  background-image: url("../img/sprite.png");
  background-position: -226px -83px;
  width: 15px;
  height: 15px;
}

@font-face {
  font-family: GothaProNarBol;
  font-style: bold;
  src: url("../fonts/Gotham%20Cyrillic/GothaProNarBol.otf");
}
@font-face {
  font-family: GothaProNarMed;
  src: url("../fonts/Gotham%20Cyrillic/GothaProNarMed.otf");
}
@font-face {
  font-family: GothaProLig;
  src: url("../fonts/Gotham%20Cyrillic/GothaProLig.otf");
}
@font-face {
  font-family: GothaProBol;
  src: url("../fonts/Gotham%20Cyrillic/GothaProBol.otf");
}
@font-face {
  font-family: MuseoSansCyrl300;
  src: url("../fonts/MuseoSansCyrlOrig/MuseoSansCyrl%20300.otf");
}
@font-face {
  font-family: MuseoSansCyrl500;
  src: url("../fonts/MuseoSansCyrlOrig/MuseoSansCyrl%20500.otf");
}
@font-face {
  font-family: MuseoSansCyrl700;
  src: url("../fonts/MuseoSansCyrlOrig/MuseoSansCyrl%20700.otf");
}
.choose-brand {
  margin-bottom: 60px;
}
.brands-grid {
  font-family: MuseoSansCyrl300;
  list-style: none;
  padding-left: 0;
  text-align: center;
}
.brands-grid__cell {
  padding: 28px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}
.auto-brand {
  position: relative;
  text-align: center;
}
.auto-brand__item {
  text-align: center;
  display: inline-block;
}
.auto-brand__item img {
  vertical-align: middle;
}
.auto-brand__title {
  display: none;
  position: absolute;
  margin: auto;
  right: 0;
  left: 0;
}
.auto-brand:hover .auto-brand__title {
  display: block;
}
@media screen and (min-width: 768px) and (max-width: 960px) {
  .brands-grid__cell {
    margin: 25px;
  }
}

@font-face {
  font-family: GothaProNarBol;
  font-style: bold;
  src: url("../fonts/Gotham%20Cyrillic/GothaProNarBol.otf");
}
@font-face {
  font-family: GothaProNarMed;
  src: url("../fonts/Gotham%20Cyrillic/GothaProNarMed.otf");
}
@font-face {
  font-family: GothaProLig;
  src: url("../fonts/Gotham%20Cyrillic/GothaProLig.otf");
}
@font-face {
  font-family: GothaProBol;
  src: url("../fonts/Gotham%20Cyrillic/GothaProBol.otf");
}
@font-face {
  font-family: MuseoSansCyrl300;
  src: url("../fonts/MuseoSansCyrlOrig/MuseoSansCyrl%20300.otf");
}
@font-face {
  font-family: MuseoSansCyrl500;
  src: url("../fonts/MuseoSansCyrlOrig/MuseoSansCyrl%20500.otf");
}
@font-face {
  font-family: MuseoSansCyrl700;
  src: url("../fonts/MuseoSansCyrlOrig/MuseoSansCyrl%20700.otf");
}
.consult__tagline {
  color: #fff;
  font-family: GothaProNarBol;
  font-size: 3.2em;
  max-width: 960px;
  text-transform: uppercase;
}
.consult__tagline--addition {
  font-size: 2em;
  font-family: GothaProLig;
  color: #fff;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) and (min-width: 320px), screen and (max-width: 320px) {
  .consult__tagline {
    padding-top: 4%;
    font-size: 1.5em;
  }
  .consult__tagline--addition {
    font-size: 0.8em;
    padding-top: 1.5%;
  }
  .consult__button {
    font-size: 0.8em;
    margin-top: 4%;
  }
}
@media screen and (max-width: 960px) and (min-width: 768px) {
  .consult__tagline {
    font-size: 2em;
    margin-top: 1%;
  }
  .consult__tagline--addition {
    font-size: 1.1em;
    margin-top: 1.3%;
  }
  .consult__button {
    font-size: 13px;
    margin-top: 3%;
  }
}
@media screen and (min-width: 960px) and (max-width: 1280px) {
  .consult__tagline {
    font-size: 2.8em;
    margin-top: 1%;
  }
  .consult__tagline--addition {
    font-size: 1.5em;
    margin-top: 1.5%;
  }
  .consult__button {
    margin-top: 2%;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1600px) {
  .consult__tagline {
    margin-top: 5%;
  }
  .consult__tagline--addition {
    margin-top: 4%;
  }
  .consult__button {
    margin-top: 5%;
  }
}
@media screen and (min-width: 1600px) {
  .consult__tagline {
    margin-top: 7%;
  }
  .consult__tagline--addition {
    margin-top: 5%;
  }
  .consult__button {
    margin-top: 6%;
  }
}

@font-face {
  font-family: GothaProNarBol;
  font-style: bold;
  src: url("../fonts/Gotham%20Cyrillic/GothaProNarBol.otf");
}
@font-face {
  font-family: GothaProNarMed;
  src: url("../fonts/Gotham%20Cyrillic/GothaProNarMed.otf");
}
@font-face {
  font-family: GothaProLig;
  src: url("../fonts/Gotham%20Cyrillic/GothaProLig.otf");
}
@font-face {
  font-family: GothaProBol;
  src: url("../fonts/Gotham%20Cyrillic/GothaProBol.otf");
}
@font-face {
  font-family: MuseoSansCyrl300;
  src: url("../fonts/MuseoSansCyrlOrig/MuseoSansCyrl%20300.otf");
}
@font-face {
  font-family: MuseoSansCyrl500;
  src: url("../fonts/MuseoSansCyrlOrig/MuseoSansCyrl%20500.otf");
}
@font-face {
  font-family: MuseoSansCyrl700;
  src: url("../fonts/MuseoSansCyrlOrig/MuseoSansCyrl%20700.otf");
}
.delivery-announce {
  position: relative;
  width: 100%;
  height: 682px;
  background-image: url("../pictures/delivery-background.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.delivery-announce__content {
  width: 420px;
  height: 290px;
  position: absolute;
  margin: auto;
  top: -20%;
  bottom: 0;
  left: 500px;
  right: 0;
}
.delivery-announce__title {
  font-family: GothaProBol;
  font-size: 3em;
  text-transform: uppercase;
  line-height: 45px;
}
.delivery-announce__description {
  font-family: MuseoSansCyrl300;
  margin: 40px 0;
  color: rgba(34,35,32,0.67);
}
.delivery-announce__button {
  padding: 4% 6% !important;
}
@media screen and (max-width: 640px) {
  .delivery-announce {
    height: 250px;
    margin-top: 50px;
    background-image: none;
    background-color: #ebebeb;
  }
  .delivery-announce__content {
    width: 100%;
    height: 180px;
    top: -35%;
    left: 0;
    right: 0;
    margin: auto;
  }
  .delivery-announce__title {
    line-height: 35px;
    font-size: 1.5em;
    text-align: center;
    background-color: #fff;
    padding-bottom: 5px;
  }
  .delivery-announce__description {
    text-align: center;
    margin-top: 40px;
  }
  .delivery-announce__button {
    position: absolute;
    right: 0;
    left: 0;
    width: 240px;
    margin: auto;
    bottom: -16%;
    padding: 1.5% 3% !important;
  }
}
@media screen and (max-width: 768px) and (min-width: 640px) {
  .delivery-announce {
    height: 370px;
  }
  .delivery-announce__content {
    width: 100%;
    height: 180px;
    top: -35%;
    left: 0;
    right: 0;
    margin: auto;
  }
  .delivery-announce__title {
    line-height: 35px;
    font-size: 1.5em;
    text-align: center;
  }
  .delivery-announce__description {
    float: right;
    text-align: right;
    width: 260px;
    margin-right: 5%;
    margin-top: 40px;
  }
  .delivery-announce__button {
    position: absolute;
    right: 5%;
    bottom: -16%;
    padding: 1.5% 3% !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 960px) {
  .delivery-announce {
    height: 430px;
  }
  .delivery-announce__content {
    width: 380px;
    height: 180px;
    top: -15%;
    left: 40%;
  }
  .delivery-announce__title {
    line-height: 35px;
    font-size: 2em;
  }
  .delivery-announce__description {
    margin: 20px 0;
  }
  .delivery-announce__button {
    padding: 3% 5% !important;
  }
}
@media screen and (min-width: 960px) and (max-width: 1280px) {
  .delivery-announce {
    height: 520px;
  }
  .delivery-announce__content {
    width: 380px;
    height: 210px;
    top: -15%;
    left: 40%;
  }
  .delivery-announce__title {
    line-height: 35px;
    font-size: 2.3em;
  }
  .delivery-announce__description {
    margin: 20px 0;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1600px) {
  .delivery-announce {
    height: 580px;
  }
  .delivery-announce__content {
    width: 400px;
    height: 330px;
    top: -10%;
  }
}

@font-face {
  font-family: GothaProNarBol;
  font-style: bold;
  src: url("../fonts/Gotham%20Cyrillic/GothaProNarBol.otf");
}
@font-face {
  font-family: GothaProNarMed;
  src: url("../fonts/Gotham%20Cyrillic/GothaProNarMed.otf");
}
@font-face {
  font-family: GothaProLig;
  src: url("../fonts/Gotham%20Cyrillic/GothaProLig.otf");
}
@font-face {
  font-family: GothaProBol;
  src: url("../fonts/Gotham%20Cyrillic/GothaProBol.otf");
}
@font-face {
  font-family: MuseoSansCyrl300;
  src: url("../fonts/MuseoSansCyrlOrig/MuseoSansCyrl%20300.otf");
}
@font-face {
  font-family: MuseoSansCyrl500;
  src: url("../fonts/MuseoSansCyrlOrig/MuseoSansCyrl%20500.otf");
}
@font-face {
  font-family: MuseoSansCyrl700;
  src: url("../fonts/MuseoSansCyrlOrig/MuseoSansCyrl%20700.otf");
}
.our-benefits {
  background-image: url("../pictures/benefits-background.png");
  background-size: cover;
}
.our-benefits__content-wrapper {
  padding-top: 50px;
  text-align: center;
  overflow: hidden;
}
.our-benefits__title {
  font-family: GothaProNarBol;
  font-size: 2.8em;
  color: #fff;
  text-transform: uppercase;
  margin-top: 50px;
}
.our-benefits__description {
  font-family: MuseoSansCyrl300;
  color: #d2c2c2;
  margin-top: 10px;
}
.our-benefits__list {
  overflow: hidden;
  padding-left: 0;
  margin: 80px 0;
  color: #fff;
  font-family: MuseoSansCyrl300;
  list-style: none;
}
.our-benefits {
  height: auto;
}
.benefits-list__item {
  display: inline-block;
  float: left;
  width: 18%;
}
.benefits-list__item + .benefits-list__item {
  margin-left: 10px;
}
.benefits-list__item p {
  display: inline-block;
}
.benefit-icon {
  margin-bottom: 12%;
}
.tick-icon {
  background-image: url("../img/sprite.png");
  background-position: -158px -68px;
  width: 67px;
  height: 67px;
}
.search-list-icon {
  background-image: url("../img/sprite.png");
  background-position: 0px 0px;
  width: 96px;
  height: 67px;
}
.tested-icon {
  background-image: url("../img/sprite.png");
  background-position: 0px -67px;
  width: 75px;
  height: 75px;
}
.timer-icon {
  background-image: url("../img/sprite.png");
  background-position: -96px 0px;
  width: 62px;
  height: 78px;
}
.percents-icon {
  background-image: url("../img/sprite.png");
  background-position: -158px 0px;
  width: 68px;
  height: 68px;
}
@media screen and (min-width: 960px) and (max-width: 1280px) {
  .our-benefits__content-wrapper {
    padding-top: 30px;
  }
  .our-benefits__title {
    font-size: 2.2em;
    margin-top: 30px;
  }
  .our-benefits__list {
    margin: 60px 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 960px) {
  .our-benefits__content-wrapper {
    padding-top: 20px;
  }
  .our-benefits__title {
    font-size: 2.2em;
    margin-top: 20px;
  }
  .our-benefits__list {
    margin: 40px 0;
  }
}
@media screen and (min-width: 640px) and (max-width: 768px), screen and (max-width: 640px) {
  .our-benefits__content-wrapper {
    padding-top: 20px;
  }
  .our-benefits__title {
    margin-top: 20px;
  }
  .benefits-list {
    display: inline-table !important;
    margin: 20px 0 !important;
  }
  .benefits-list__item {
    display: table-row !important;
    width: 100% !important;
    float: none !important;
  }
  .benefits-list__item + .benefits-list__item {
    margin-left: 0;
  }
  .benefit-icon {
    margin: 10px 0 !important;
    display: table-cell !important;
    vertical-align: middle !important;
    float: left !important;
  }
  .benefit-sentence {
    padding-left: 2%;
    display: table-cell !important;
    vertical-align: middle !important;
    text-align: left;
    margin: 10px 0;
  }
  .tick-icon {
    background-image: url("../img/sprite.png");
    background-position: -70px -170px;
    width: 35px;
    height: 35px;
  }
  .search-list-icon {
    background-image: url("../img/sprite.png");
    background-position: -96px -78px;
    width: 50px;
    height: 35px;
  }
  .tested-icon {
    background-image: url("../img/sprite.png");
    background-position: -35px -170px;
    width: 35px;
    height: 35px;
  }
  .timer-icon {
    background-image: url("../img/sprite.png");
    background-position: -226px 0px;
    width: 28px;
    height: 35px;
  }
  .percents-icon {
    background-image: url("../img/sprite.png");
    background-position: 0px -170px;
    width: 35px;
    height: 35px;
  }
}

@font-face {
  font-family: GothaProNarBol;
  font-style: bold;
  src: url("../fonts/Gotham%20Cyrillic/GothaProNarBol.otf");
}
@font-face {
  font-family: GothaProNarMed;
  src: url("../fonts/Gotham%20Cyrillic/GothaProNarMed.otf");
}
@font-face {
  font-family: GothaProLig;
  src: url("../fonts/Gotham%20Cyrillic/GothaProLig.otf");
}
@font-face {
  font-family: GothaProBol;
  src: url("../fonts/Gotham%20Cyrillic/GothaProBol.otf");
}
@font-face {
  font-family: MuseoSansCyrl300;
  src: url("../fonts/MuseoSansCyrlOrig/MuseoSansCyrl%20300.otf");
}
@font-face {
  font-family: MuseoSansCyrl500;
  src: url("../fonts/MuseoSansCyrlOrig/MuseoSansCyrl%20500.otf");
}
@font-face {
  font-family: MuseoSansCyrl700;
  src: url("../fonts/MuseoSansCyrlOrig/MuseoSansCyrl%20700.otf");
}
.questions {
  text-align: center;
  margin-bottom: 80px;
}
.questions__title {
  margin-bottom: 80px;
}
.questions__call-us {
  text-transform: uppercase;
  font-family: GothaProBol;
  font-size: 2em;
}
.questions__phone-number {
  margin-top: 20px;
  text-transform: uppercase;
  font-family: GothaProBol;
  font-size: 2.5em;
}
.questions__note {
  font-family: MuseoSansCyrl300;
  color: rgba(34,35,32,0.67);
}
@media screen and (min-width: 960px) and (max-width: 1280px) {
  .questions__title {
    margin-bottom: 50px;
  }
  .questions__call-us {
    font-size: 2.3em;
  }
}
@media screen and (min-width: 768px) and (max-width: 960px) {
  .questions {
    margin-bottom: 40px;
  }
  .questions__title {
    margin-bottom: 40px;
  }
  .questions__call-us {
    font-size: 2.1em;
  }
}
@media screen and (max-width: 768px) and (min-width: 640px), screen and (max-width: 640px) {
  .questions {
    margin-bottom: 40px;
    margin-top: 40px;
  }
  .questions__title {
    margin-bottom: 40px;
  }
  .questions__call-us {
    font-size: 1.5em;
  }
  .questions__phone-number {
    margin-top: 10px;
    font-size: 1.8em;
  }
}

@font-face {
  font-family: GothaProNarBol;
  font-style: bold;
  src: url("../fonts/Gotham%20Cyrillic/GothaProNarBol.otf");
}
@font-face {
  font-family: GothaProNarMed;
  src: url("../fonts/Gotham%20Cyrillic/GothaProNarMed.otf");
}
@font-face {
  font-family: GothaProLig;
  src: url("../fonts/Gotham%20Cyrillic/GothaProLig.otf");
}
@font-face {
  font-family: GothaProBol;
  src: url("../fonts/Gotham%20Cyrillic/GothaProBol.otf");
}
@font-face {
  font-family: MuseoSansCyrl300;
  src: url("../fonts/MuseoSansCyrlOrig/MuseoSansCyrl%20300.otf");
}
@font-face {
  font-family: MuseoSansCyrl500;
  src: url("../fonts/MuseoSansCyrlOrig/MuseoSansCyrl%20500.otf");
}
@font-face {
  font-family: MuseoSansCyrl700;
  src: url("../fonts/MuseoSansCyrlOrig/MuseoSansCyrl%20700.otf");
}
.leave-your-request {
  height: 300px;
  padding-top: 50px;
}
.leave-your-request__offer {
  font-family: GothaProBol;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5em;
}
#RequestForm {
  margin-top: 40px;
  text-align: center;
}
.request__user-name {
  line-height: 40px;
  border: none;
  outline: none;
  text-indent: 5px;
  font-size: 1.5em;
  width: 45%;
  max-width: 350px;
}
.request__phone-number {
  line-height: 40px;
  border: none;
  outline: none;
  text-indent: 5px;
  font-size: 1.5em;
  width: 45%;
  max-width: 350px;
}
.request__send-button {
  padding: 0 4% !important;
  margin-top: 40px;
  line-height: 50px;
  height: 50px;
}
@media screen and (max-width: 640px) and (min-width: 320px), screen and (max-width: 320px) {
  .leave-your-request {
    height: 300px;
    padding-top: 25px;
  }
  .request__user-name {
    line-height: 35px;
    display: block;
    font-size: 1.2em;
    width: 100%;
  }
  .request__phone-number {
    line-height: 35px;
    display: block;
    margin-top: 5px;
    font-size: 1.2em;
    width: 100%;
  }
  .request__send-button {
    line-height: 35px;
    height: 35px;
    max-width: 180px;
    margin-top: 20px;
  }
  #RequestForm {
    width: 250px;
    margin: 0 auto;
    margin-top: 20px;
  }
}
@media screen and (max-width: 768px) and (min-width: 640px) {
  .leave-your-request {
    height: 300px;
    padding-top: 25px;
  }
}
@media screen and (min-width: 768px) and (max-width: 960px) {
  .leave-your-request {
    height: 250px;
    padding-top: 25px;
  }
}
@media screen and (min-width: 960px) and (max-width: 1280px) {
  .leave-your-request {
    height: 250px;
    padding-top: 25px;
  }
}

@font-face {
  font-family: GothaProNarBol;
  font-style: bold;
  src: url("../fonts/Gotham%20Cyrillic/GothaProNarBol.otf");
}
@font-face {
  font-family: GothaProNarMed;
  src: url("../fonts/Gotham%20Cyrillic/GothaProNarMed.otf");
}
@font-face {
  font-family: GothaProLig;
  src: url("../fonts/Gotham%20Cyrillic/GothaProLig.otf");
}
@font-face {
  font-family: GothaProBol;
  src: url("../fonts/Gotham%20Cyrillic/GothaProBol.otf");
}
@font-face {
  font-family: MuseoSansCyrl300;
  src: url("../fonts/MuseoSansCyrlOrig/MuseoSansCyrl%20300.otf");
}
@font-face {
  font-family: MuseoSansCyrl500;
  src: url("../fonts/MuseoSansCyrlOrig/MuseoSansCyrl%20500.otf");
}
@font-face {
  font-family: MuseoSansCyrl700;
  src: url("../fonts/MuseoSansCyrlOrig/MuseoSansCyrl%20700.otf");
}
.reviews {
  margin: 80px 0;
}
.reviews__list {
  text-align: center;
  margin-top: 50px;
}
.review-item {
  display: inline-block;
  width: 25%;
  margin: 0 20px;
  font-family: MuseoSansCyrl300;
}
.review-item__text {
  height: 80px;
  margin: 30px 0;
  text-align: center;
}
.review-item__author-photo {
  display: inline-block;
  border-radius: 50%;
}
.review-item__author-name {
  margin-top: 10px;
}
.review-item__author-info {
  color: rgba(34,35,32,0.67);
}
@media screen and (min-width: 768px) and (max-width: 960px) {
  .review-item__photo {
    width: 180px;
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  .reviews {
    display: none;
  }
}

@font-face {
  font-family: GothaProNarBol;
  font-style: bold;
  src: url("../fonts/Gotham%20Cyrillic/GothaProNarBol.otf");
}
@font-face {
  font-family: GothaProNarMed;
  src: url("../fonts/Gotham%20Cyrillic/GothaProNarMed.otf");
}
@font-face {
  font-family: GothaProLig;
  src: url("../fonts/Gotham%20Cyrillic/GothaProLig.otf");
}
@font-face {
  font-family: GothaProBol;
  src: url("../fonts/Gotham%20Cyrillic/GothaProBol.otf");
}
@font-face {
  font-family: MuseoSansCyrl300;
  src: url("../fonts/MuseoSansCyrlOrig/MuseoSansCyrl%20300.otf");
}
@font-face {
  font-family: MuseoSansCyrl500;
  src: url("../fonts/MuseoSansCyrlOrig/MuseoSansCyrl%20500.otf");
}
@font-face {
  font-family: MuseoSansCyrl700;
  src: url("../fonts/MuseoSansCyrlOrig/MuseoSansCyrl%20700.otf");
}
.sales-leaders {
  margin-top: 80px;
  margin-bottom: 0;
}
.sales-leaders__show-more {
  text-align: center;
}
.sales-leaders__list {
  border-collapse: collapse;
  border: 0;
  padding-left: 0;
  list-style: none;
  border-spacing: 0;
  margin-top: 50px;
}
.sales-leaders__list li {
  overflow: hidden;
}
.sales-leaders__list li:nth-child(odd) {
  border: 0;
}
.sales-leaders__list li:nth-child(odd) .leader-cell__photo {
  float: left;
}
.sales-leaders__list li:nth-child(odd) .preview-info-cell {
  float: left;
}
.sales-leaders__list li:nth-child(even) .leader-cell__photo {
  float: right;
}
.sales-leaders__list li:nth-child(even) .preview-info-cell {
  float: right;
}
.sales-leaders__additional-products {
  display: none;
  margin-top: 0;
}
.sales-leaders__additional-products-buffer {
  display: none;
}
.leader-cell {
  border: 0;
  padding: 0;
}
.leader-cell__inner-cell {
  display: inline-block;
  float: left;
  width: 50%;
  height: 480px;
}
.leader-cell__inner-cell img {
  width: 480px;
  height: auto;
}
.preview-info-cell {
  text-align: center;
}
.preview-info-cell__title {
  margin-top: 80px;
  font-family: MuseoSansCyrl700;
  font-size: 1.5em;
}
.preview-info-cell__designed-for-mark {
  margin-top: 20px;
  display: inline-block;
  font-family: MuseoSansCyrl500;
  font-size: 0.9em;
}
.preview-info-cell__price {
  margin-top: 50px;
  margin-bottom: 30px;
  font-family: GothaProBol;
  text-transform: uppercase;
  font-size: 2em;
}
.preview-info-cell__details {
  margin-top: 40px;
  display: block;
  text-decoration: none;
  font-family: MuseoSansCyrl300;
  color: rgba(34,35,32,0.67);
}
.preview-info-cell__details:hover {
  text-decoration: underline;
}
.leave-bid {
  padding: 4% 5% !important;
}
.show-more {
  margin-top: 80px;
}
.show-more__icon {
  background-image: url("../img/sprite.png");
  background-position: -226px -106px;
  width: 15px;
  height: 6px;
  display: inline-block;
  cursor: pointer;
}
.show-more span {
  text-transform: uppercase;
  font-family: MuseoSansCyrl500;
  font-size: 0.9em;
  cursor: pointer;
}
.show-more span:hover {
  text-decoration: underline;
}
@media screen and (min-width: 768px) and (max-width: 960px) {
  .leader-cell__inner-cell {
    height: 384px;
  }
  .leader-cell img {
    width: 384px;
    height: auto;
  }
  .preview-info-cell__title {
    margin-top: 40px;
  }
}
@media screen and (min-width: 640px) and (max-width: 768px), screen and (max-width: 640px) {
  .sales-leaders {
    display: none;
  }
  .leader-cell__inner-cell {
    height: 320px;
  }
  .leader-cell img {
    width: 320px;
    height: auto;
  }
  .preview-info-cell__title {
    margin-top: 20px;
  }
}

.callback__phone {
  width: 80%;
  max-width: 300px;
}
.callback__name {
  width: 80%;
  max-width: 300px;
  margin-bottom: 15px;
}

@font-face {
  font-family: GothaProNarBol;
  font-style: bold;
  src: url("../fonts/Gotham%20Cyrillic/GothaProNarBol.otf");
}
@font-face {
  font-family: GothaProNarMed;
  src: url("../fonts/Gotham%20Cyrillic/GothaProNarMed.otf");
}
@font-face {
  font-family: GothaProLig;
  src: url("../fonts/Gotham%20Cyrillic/GothaProLig.otf");
}
@font-face {
  font-family: GothaProBol;
  src: url("../fonts/Gotham%20Cyrillic/GothaProBol.otf");
}
@font-face {
  font-family: MuseoSansCyrl300;
  src: url("../fonts/MuseoSansCyrlOrig/MuseoSansCyrl%20300.otf");
}
@font-face {
  font-family: MuseoSansCyrl500;
  src: url("../fonts/MuseoSansCyrlOrig/MuseoSansCyrl%20500.otf");
}
@font-face {
  font-family: MuseoSansCyrl700;
  src: url("../fonts/MuseoSansCyrlOrig/MuseoSansCyrl%20700.otf");
}
.choose-brand-and-model__content {
  text-align: left;
}
.model-list {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  padding-left: 0;
}
.model-list li {
  list-style: none;
}
.model-list__item {
  display: inline-block;
}
@supports ((-webkit-column-count: 2) or (-moz-column-count: 2) or (column-count: 2)) {
  .modal-models-content__list {
    font-family: MuseoSansCyrl300;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
  }
  .modal-models-content .avko-input-label {
    margin-bottom: 10px;
  }
  .modal-models-content .ui-selectmenu-button {
    margin-top: 5px;
    margin-bottom: 20px;
  }
}

@font-face {
  font-family: GothaProNarBol;
  font-style: bold;
  src: url("../fonts/Gotham%20Cyrillic/GothaProNarBol.otf");
}
@font-face {
  font-family: GothaProNarMed;
  src: url("../fonts/Gotham%20Cyrillic/GothaProNarMed.otf");
}
@font-face {
  font-family: GothaProLig;
  src: url("../fonts/Gotham%20Cyrillic/GothaProLig.otf");
}
@font-face {
  font-family: GothaProBol;
  src: url("../fonts/Gotham%20Cyrillic/GothaProBol.otf");
}
@font-face {
  font-family: MuseoSansCyrl300;
  src: url("../fonts/MuseoSansCyrlOrig/MuseoSansCyrl%20300.otf");
}
@font-face {
  font-family: MuseoSansCyrl500;
  src: url("../fonts/MuseoSansCyrlOrig/MuseoSansCyrl%20500.otf");
}
@font-face {
  font-family: MuseoSansCyrl700;
  src: url("../fonts/MuseoSansCyrlOrig/MuseoSansCyrl%20700.otf");
}
.modal-window {
  background-color: #fff;
  padding: 40px 20px;
  border-radius: 2px;
  position: relative;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 0 20px #000;
}
.modal-window__title {
  font-family: MuseoSansCyrl700;
  font-size: 27px;
}
.modal-window__close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.modal-window__description {
  color: #828282;
  font-family: MuseoSansCyrl300;
  margin-top: 10px;
}
.modal-window__content {
  margin-top: 30px;
}
.modal-window__button--centered {
  margin-top: 30px;
  display: inline-block;
  text-align: center;
}
.modal-window__button--right {
  margin-top: 20px;
  display: inline-block;
  text-align: center;
  float: right;
}

@font-face {
  font-family: GothaProNarBol;
  font-style: bold;
  src: url("../fonts/Gotham%20Cyrillic/GothaProNarBol.otf");
}
@font-face {
  font-family: GothaProNarMed;
  src: url("../fonts/Gotham%20Cyrillic/GothaProNarMed.otf");
}
@font-face {
  font-family: GothaProLig;
  src: url("../fonts/Gotham%20Cyrillic/GothaProLig.otf");
}
@font-face {
  font-family: GothaProBol;
  src: url("../fonts/Gotham%20Cyrillic/GothaProBol.otf");
}
@font-face {
  font-family: MuseoSansCyrl300;
  src: url("../fonts/MuseoSansCyrlOrig/MuseoSansCyrl%20300.otf");
}
@font-face {
  font-family: MuseoSansCyrl500;
  src: url("../fonts/MuseoSansCyrlOrig/MuseoSansCyrl%20500.otf");
}
@font-face {
  font-family: MuseoSansCyrl700;
  src: url("../fonts/MuseoSansCyrlOrig/MuseoSansCyrl%20700.otf");
}
.ui-selectmenu-menu {
  z-index: 99999;
}
.ui-selectmenu-button {
  background: #fff;
}
.ui-selectmenu-button:hover {
  outline: none;
}
.ui-selectmenu-button .ui-selectmenu-text:focus {
  outline: none;
}
.ui-icon,
.ui-state-default .ui-icon,
.ui-state-hover .ui-icon {
  background-image: url("../../vendor/jquery-ui/themes/base/images/ui-icons_cd0a0a_256x240.png");
}
.ui-widget-content .ui-state-hover,
.ui-widget-content .ui-state-focus {
  background: #e0e0e0;
  background-image: none;
  border: none;
}
.ui-selectmenu-open {
  overflow-y: auto;
  overflow-x: hidden;
  height: 300px;
}
