@require '../avko.common/sprite'
@require '../avko.common/constants'

.items-list
  margin 80px 0


.choose-model
  &__title
    font-family GothaProBol
    font-size 3em
    text-transform uppercase
  &__button
    margin-top 20px
    display inline-block
    cursor pointer
    & span
      font-family MuseoSansCyrl500
      border-bottom 1px dotted


.show-more-models
  sprite($sprite_plus_in_circle)
  display inline-block
  float left
  margin-right 5px


.car-brands-list
  font-family MuseoSansCyrl500
  list-style none
  padding-left 0
  & li
    display inline-block
    margin 5px 10px 5px 0
    padding 5px 10px
    border-radius 50px
    background-color avkoRedColor
    color #fff
    opacity .8
    cursor pointer
    transition all 250ms linear
    &:focus
      outline 0 !important
    &:hover
      background-color shade(avkoRedColor, 20%)
      text-shadow -1px -1px 0 darken(avkoRedColor, 9.5%)
      transition all 250ms linear
    & a
      line-height 19px
  &--hidden
    display none

.banner
  background url("../pictures/banner-background.png")
  background-repeat no-repeat
  width 964px
  height 159px
  margin 20px auto
  text-align center
  &__title
    font-family GothaProBol
    font-size 2em
    color #ffffff
    text-transform uppercase
    padding-top 20px
    padding-bottom 10px
  &__text
    color #ffffff
    font-family MuseoSansCyrl300

.first-column
  width 65%

.item
  clear both
  &__header
    border-bottom 1px solid #ccc
  &__title
    display inline-block
    font-family MuseoSansCyrl700
    font-size 2em
    line-height 1.5em
    padding-right 20px
  &__article
    display inline-block
    font-family MuseoSansCyrl300
    color avkoGrayColor
    line-height 30px
    font-size .8em
  &__features
    list-style none
    padding-left 0
    display inline-block
    & li
      display inline-block
      margin-right 40px
      line-height 70px
      height 70px
      & p
        display inline-block
        float left
        font-family MuseoSansCyrl500
        margin-left 15px
  &__common-info
    clear both
  &__toggle-more-details
    display inline-block
    cursor pointer
    & i
      display inline-block
      font-weight bold
      font-size 1.5em
      line-height 20px
      margin-right 3px
      color avkoRedColor
      position absolute
    & span
      display inline-block
      font-family MuseoSansCyrl500
      border-bottom 1px dotted
      line-height 20px
      margin-left 18px


.item__toggle-more-details
  &:not(&--hide)
    & .show-details
      display block
      position relative
    & .hide-details
      display none
  &--hide
    & .show-details
      display none
    & .hide-details
      display block
      position relative
      & i
          top -2px

.icon
  &-red-timer
    sprite($sprite_red_timer)
    display inline-block
    margin-top 15px
    float left
  &-guarantee
    sprite($sprite_guarantee)
    display inline-block
    margin-top 15px
    float left
  &-tick-in-circle
    sprite($sprite_tick_in_circle)
    display inline-block
    margin-top 20px
    float left

.buy-bar
  background-color #ebebeb
  width 95%
  min-width 205px
  height calc(100% - 10px)
  position absolute
  right 0
  top 0
  &__price
    font-family GothaProBol
    font-size 2.2em
    text-transform uppercase
    margin-top 50px
  &__old-price
    font-family GothaProBol
    font-size 1.5em
    text-transform uppercase
    margin-top 20px
  &__discount-price
    font-family GothaProBol
    font-size 2.2em
    text-transform uppercase
    margin-top 5px
  &__sales
    font-family MuseoSansCyrl300
    margin 20px 0
    display inline-block
    & label
      color avkoGrayColor
  &__button
    width 150px
    margin 0 auto
    & + &
      margin-top 20px
  &__delivery-section
    margin-top 30px
    width 100%
    border-top 1px solid #ccc


.old-price
  position relative
  display inline-block
  &__throwline
    position absolute
    width 100%
    top 0
    bottom 0
    height 2px
    margin auto
    background-color avkoRedColor

.delivery-section
  overflow hidden
  &__icon
    display inline-block
    sprite($sprite_delivery_car)
    margin-top 20px
  &__info
    font-family MuseoSansCyrl300
    margin-top 10px
    color avkoGrayColor
    & a
      text-decoration underline
      color avkoGrayColor
      cursor pointer

.photos-slider
  width 100%
  &__paths-buffer
    display none

.selected-photo
  width 100%
  margin-bottom 2%
  height 405px
  position relative
  & img
    width 100%
  &__item
    padding 0 5px

.discount-marker
  position absolute
  top 20px
  left 25px
  text-transform uppercase
  display inline-block
  padding 5px 15px
  color #fff
  font-family MuseoSansCyrl500
  font-size 1em
  background-color avkoRedColor
  box-shadow: 2px 2px 5px #555

.photos-preview
  display inline-block
  position relative
  width 100%
  &__item
    display inline-block
    overflow hidden
    &:not(.slick-current)
      opacity 0.5
    & img
      width 100%


.slick-slider
  margin-bottom 10px

.slick-slide
  margin 0 5px

.catalog-item
  margin 40px auto !important


.items-list__separartor
  border-bottom 1px solid #CCCCCC
  width 100%

.item-text-content
  margin-top 20px
  font-family MuseoSansCyrl300
  &__description
    padding-bottom 10px
    border-bottom 1px solid #ccc
    margin-bottom 10px
  &__product-props
    padding-bottom 20px
    margin-bottom 20px
    border-bottom 1px solid #CCCCCC
  &--hidden
    display none


.product-props
  &__title
    font-family MuseoSansCyrl700
    margin-bottom 10px
    font-size 1.2em

.product-props-table
  &__parameter
    color rgba(34,35,32,0.67)
    padding-right 25px
    &::after
      content ":"

.product-box
  padding-bottom 20px
  &__title
    font-family MuseoSansCyrl700
    margin-bottom 10px
    font-size 1.2em


.slick-next:not([aria-disabled="true"])
  right -15px
  width 6px
  height 15px
  & i
    display block
    sprite($sprite_right_arrow)
  &::after
  &::before
    display none
  &:hover
    background inherit
.slick-prev:not([aria-disabled="true"])
  left -15px
  width 6px
  height 15px
  & i
    display block
    sprite($sprite_right_arrow)
    transform rotate(180deg)
  &::after
  &::before
    display none
  &:hover
    background inherit

.slick-next[aria-disabled="true"]
  right -15px
  width 6px
  height 15px
  & i
    display block
    sprite($sprite_right_arrow_inactive)
    transform rotate(180deg)
  &::after
  &::before
    display none
  &:hover
    background inherit
.slick-prev[aria-disabled="true"]
  left -15px
  width 6px
  height 15px
  & i
    display block
    sprite($sprite_right_arrow_inactive)
  &::after
  &::before
    display none
  &:hover
    background inherit

@media screen and (min-width: 960px)
  .billboard
    display table-row
    width 100%
    &__photos
      display table-cell
      max-height 584px
      width 63%
    &__buy-bar
      display table-cell
      width 33%
      min-width 205px
      position relative
    .photos-slider
      max-width 615px


@media screen and (max-width: 960px)
  .billboard
    display inline-block
    width 100%
    &__photos
      display block
      width 100%
    &__buy-bar
      display block
      width 100%
      min-width 205px
      height 525px
      position relative
  .buy-bar
    top -9px
    left 0
    width initial
  .first-column
    width 100%

@media screen and (max-width: 640px) and (min-width: 320px), screen and (max-width: 320px)
  .selected-photo
    height 216px

@media screen and (max-width: 960px) and (min-width: 768px)
  .selected-photo
    height 509px
