@require '../avko.common/sprite'
@require '../avko.common/constants'

.avko-page--contact
  &__title
    font-family GothaProBol
    font-size 3em
    text-transform uppercase
    margin 30px auto

.store-info
  font-family MuseoSansCyrl300
  &__address
    float left
    padding-left 0
    list-style none
  &__additional
    color #888
    float right
    font-size 0.9em

.store-address
  & li
    line-height 30px

.phone-icon--red
  display inline-block
  margin-right 10px
  sprite($sprite_phone_icon_red)

.mail-icon--red
  display inline-block
  margin-right 10px
  sprite($sprite_mail_icon_red)

.working-schedule-icon--red
  display inline-block
  margin-right 8px
  sprite($sprite_working_hours_icon_red)