@require '../sprite'
@require '../constants'

.choose-brand-and-model
  &__content
    text-align left

.model-list
  column-count 2
  padding-left 0
  & li
    list-style none
  &__item
    display inline-block


@supports (column-count 2)
  .modal-models-content
    &__list
      font-family MuseoSansCyrl300
      border-bottom 1px solid #ccc
      padding 10px 0
    & .avko-input-label
      margin-bottom 10px
    & .ui-selectmenu-button
      margin-top 5px
      margin-bottom 20px

